.el-container {
  height: 100%;
}

.el-header {
  border-bottom: solid 1px #e6e6e6;
  color: #333;
  line-height: 0.75rem;
}

.el-aside {
  color: #333;
  line-height: 2.5rem;
}

.el-main {
  background-color: #ffffff;
  color: #333;
}

.el-menu {
  height: 100%;

  .el-menu-item {
    min-width: auto !important;
    width: 100% !important;
  }
}

.el-main {
  padding: 0 !important;
}

.no-icon {
  display: inline-block;
  margin-right: 0.0625rem;
  width: 0.225rem;
}

.is-active {
  position: relative;
  background-color: rgba(64, 158, 255, 0.2) !important;
}
.el-button {
  min-width: 100px;
  max-height: 40px;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #67c23a;
}

.el-form-item.is-success .el-input-group__append .el-input__inner,
.el-form-item.is-success .el-input-group__prepend .el-input__inner {
  border-color: transparent;
}

.el-form-item.is-success .el-input__validateIcon {
  color: #67c23a;
}
